@{
    ViewBag.Title = "Products";
}

<!DOCTYPE html>
<html>
<head>
    <title>
        Products
    </title>
</head>
<body>

    @foreach (var category in ViewBag.categories)
    {
        if (category.Id == ViewBag.Id)
        {
    <h3>@category.Name</h3>
        }
    }
    <br>
    <br>

    <table>

        <tbody>
            @{
                foreach (var equipment in ViewBag.equipments)
                {
                    if (equipment.CategoryId == ViewBag.Id)
                    {


                    <div class="list-item" itemprop="itemListElement">
                        <div class="list-photo">
                            <a href="/Home/MyProduct/@equipment.Id"><img alt="@equipment.Name" itemprop="image" src="@Url.Content(equipment.Image)" style="width: 90px; height: 80px; float:left" /></a>
                        </div>
                        <div class="list-content">
                            <h3 itemprop="name">
                                @equipment.Name
                            </h3>
                            <p itemprop="description">
                                @equipment.Description
                            </p>
                            <p itemprop="description">
                                Цена: @equipment.Price
                            </p>
                            <p itemprop="text">
                                Производитель: @equipment.Producer
                            </p>
                            <div class="list-detail">
                                <a href="/Home/Order/@equipment.Id" itemprop="url"> заказать   </a> <img alt="@equipment.Name" height="10" src="@Url.Content("~/Content/Images/vector.png")" width="8" />
                                <a href="/Home/MyProduct/@equipment.Id" itemprop="url"> подробнее   </a> <img alt="@equipment.Name" height="10" src="@Url.Content("~/Content/Images/vector.png")" width="8" />
                            </div>
                            <hr />
                            <br>
                        </div>
                    </div>
                    }


                }

            }
        </tbody>
    </table>
</body>
</html>



